<div class="container-fluid">

  <div class="restaurantDetails">
    <h1>{{restaurant.name}}</h1>
    <h4>Address: {{restaurant.address}}</h4>
    <h4>Category: {{restaurant.category}}</h4>
  </div>

<hr>

    <div class="row addReview mx-auto mt-5">

      <form action="/submit/{{restaurant.id}}" method="POST">

        <div class="form-group">
          <input type="text" class="form-control inputTitle" name="inputTitle" placeholder="Review title">
        </div>

        <div class="form-group">
          <select class="form-control inputStars" name="inputStars" id="sel1" style="color:grey">
            <option hidden>Stars</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>

        <div class="form-group">
          <textarea class="form-control inputText" rows="5" name="inputText" placeholder="Your review of {{restaurant.name}}"></textarea>
        </div>

        <button class="btn btn-primary searchsubmit" type="submit" name="submit">Submit</button>

      </form>
    </div>

<hr>

  <div class="restaurantReviews">
    {{#each reviews}}
    <div class="row restaurantReviews">
        <div class="col-md-6 reviewTitle">
          <h4>{{title}}</h4>
        </div>
        <div class="col-md-6 reviewStars">
          <span repeat={{stars}}>★</span>
        </div>

        <div class="row reviewText">
          <div class="col">
            <h5>{{review_text}}</h5>
          </div>
        </div>

    </div>
    {{/each}}
  </div>
</div>
